body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    background-color: black;
    color: white;

    img {
        object-fit: cover;
        width: 100%;
        height: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        font-weight: 700;
    }
}